<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block extra_css %}{% endblock %}
    <script src="{% static 'js/messages.js' %}"></script>
</head>
<body>
    {% include 'wordstat_app/header.html' %}
    
    {% if messages %}
        <div class="messages" id="message-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% include 'wordstat_app/footer.html' %}

    {% block extra_js %}{% endblock %}
</body>
</html>