{% extends 'wordstat_app/base.html' %}
{% load static %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
<div class="home-container">
  <h1 class="page-title">Изменение пароля</h1>

  <div class="instruction-container">
    <form method="post" class="change-password-form">
        <p class="upload-info">Здесь вы можете изменить свой пароль, если помните текущий, или сбросить пароль, если забыли его.</p> <form method="post" class="change-password-form">  
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <div class="error-message">{{ field.errors }}</div>
          {% endif %}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary save-button large-button">Изменить пароль</button>
      <a href="{% url 'password_reset' %}" class="btn btn-warning save-button large-button">Сброс пароля</a>
    </form>
  </div>
</div>
{% endblock %}