{% extends 'wordstat_app/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block title %}Запрос отправлен{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-form">
        <h2>Запрос на сброс пароля отправлен</h2>
        <p>Проверьте вашу электронную почту для получения дальнейших инструкций.</p>
        <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес, с которым вы зарегистрировались, и проверьте папку спам.</p>
        <div class="auth-links">
            <p><a href="{% url 'login' %}">Вернуться на страницу входа</a></p>
        </div>
    </div>
</div>
{% endblock %}